.main-carrousel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
}

.main-carrousel::after{
    content: '';
    display: block;
    position: absolute;
    left: 50px;
    top: 40px;
    height: 5px;
    width: calc(100% - 100px);
    border-top: 5px solid rgb(0, 0, 0);

}

.main-carrousel::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    border-top: 5px dashed rgb(0, 0, 0);

}

.main-carrousel .button-arrow{
    position: absolute;
    bottom: 50px;
}

.main-carrousel .button-arrow.-left{
    left: 15px;
}

.main-carrousel .button-arrow.-right{
    right: 15px;
}