.main-section {
    background-color: #E362BA;
    padding-top: 50px;
    padding-bottom: 100px ;
    border-bottom: 10px solid #8780E9;
    
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-card{
    background-color: black;
    height: 520px;
    border-bottom: 10px solid #E362BA;

}

.main-section.-sobre{
    background-color: #8780E9;
    height: 520px;
    border-bottom: 10px solid black;

}

.main-section.-bdcolor{
    border-bottom: 10px solid #000000;
}

.main-section.-bgcolor{
    background-color: #8780E9;
}