.skills-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    font-weight: 400;
    color: white;
    
} 

.skills-tec .icon{
    margin-right: 25px;

}

.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 