.skills-tec {
    display: flex;
    align-items: center;
    
    
} 

.skills-tec .icon{
    margin-right: 25px;

}

.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 